@page "/"
@using Microsoft.EntityFrameworkCore
@using TechReviewzWebsite.Data
@using TechReviewzWebsite.Domain
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject IDbContextFactory<TechReviewzWebsite.Data.TechReviewzWebsiteContext> DbFactory

<PageTitle>Home</PageTitle>

<div>
    <div>
        <h1><b>Products</b></h1>

        <section class="media-scroller">
            <a class="media-card text-decoration-none text-reset" href="/products" role="link">
                <article>
                    <label>
                        <svg height="100px" width="100px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="50 0 513.746 513.746" xml:space="preserve">
                        <g transform="translate(0 -540.36)">
                        <path style="fill:#DADFE1;" d="M52.708,655.009h365.737c8.178,0,14.762,6.584,14.762,14.762v232.781
                        c0,8.178-6.584,14.762-14.762,14.762H52.708c-8.178,0-14.762-6.584-14.762-14.762V669.771
                        C37.946,661.592,44.53,655.009,52.708,655.009z" />
                        <path style="fill:#4F5666;" d="M54.127,670.334h362.899v231.653H54.127L54.127,670.334z" />
                        <path style="fill:#BCBDBF;" d="M0,917.313c0,12.267,11.004,22.143,24.673,22.143h421.809c13.669,0,24.673-9.876,24.673-22.143H0
                        L0,917.313z" />
                        <path style="fill:#7C7E7F;" d="M204.254,917.313c0,4.43,3.343,7.996,5.199,7.996h54.393c1.856,0,4.377-3.566,4.377-7.996H204.254z" />
                        <g>
                        <path style="fill:#575E6D;" d="M234.316,670.334L360.82,901.988h56.207V670.334H234.316z" />
                        <path style="fill:#575E6D;" d="M147.648,670.334l126.506,231.654h63.9L211.55,670.334H147.648z" />
                        </g>
                        <path style="fill:#ECECEC;" d="M321.046,707.329h143.696c4.724,0,8.527,3.775,8.527,8.464v215.198c0,4.689-3.803,8.464-8.527,8.464
                        H321.046c-4.724,0-8.527-3.775-8.527-8.464V715.793C312.519,711.104,316.322,707.329,321.046,707.329L321.046,707.329z" />
                        <path style="fill:#4F5666;" d="M320.578,725.143H465.21v195.054H320.578V725.143z" />
                        <g>
		
                        <path shape-rendering="auto" image-rendering="auto" color-rendering="auto" color-interpolation="sRGB" style="fill:#B3B5B5;" d="
                        M392.894,923.626c-3.303,0-5.998,2.695-5.998,5.998s2.695,5.998,5.998,5.998s5.998-2.695,5.998-5.998
                        S396.197,923.626,392.894,923.626z M392.894,925.337c2.378,0,4.287,1.909,4.287,4.287s-1.909,4.287-4.287,4.287
                        s-4.287-1.909-4.287-4.287S390.516,925.337,392.894,925.337z" />
                        <path style="fill:#B3B5B5;" d="M394.326,717.036c0,0.791-0.641,1.431-1.431,1.431l0,0c-0.791,0-1.431-0.641-1.431-1.431l0,0
                        c0-0.791,0.641-1.431,1.431-1.431l0,0C393.685,715.605,394.326,716.246,394.326,717.036L394.326,717.036z" />
                        </g>
                        <g>
                        <path style="fill:#575E6D;" d="M385.324,725.143l79.887,146.291V725.143H385.324z" />
                        <path style="fill:#575E6D;" d="M320.578,725.143v9.729l101.203,185.326h43.43v-2.813L360.228,725.143H320.578z" />
                        </g>
                        <path style="fill:#BDBDBD;" d="M428.847,920.197v8.6c0,5.511,4.437,9.949,9.949,9.949h29.369c3.009-1.305,5.104-4.276,5.104-7.754
                        v-10.795h-8.059H428.847z" />
                        <path style="fill:#464B57;" d="M438.796,778.182c-5.512,0-9.949,4.436-9.949,9.947v132.068h6.037V788.129
                        c0-5.511,4.437-9.947,9.949-9.947H438.796z" />
                        <path style="fill:#3F4552;" d="M428.847,804.844v45.953l6.037,11.055v-45.953L428.847,804.844z" />
                        <g>
                        <path style="fill:#CCACAB;" d="M435.296,812.704v10.281c0,0.548-0.441,0.989-0.989,0.989s-0.989-0.441-0.989-0.989v-10.281
                        c0-0.548,0.441-0.989,0.989-0.989C434.854,811.715,435.296,812.156,435.296,812.704z" />
                        <path style="fill:#CCACAB;" d="M435.296,826.749v10.281c0,0.548-0.441,0.989-0.989,0.989s-0.989-0.441-0.989-0.989v-10.281
                        c0-0.548,0.441-0.989,0.989-0.989C434.854,825.759,435.296,826.201,435.296,826.749z" />
                        <path style="fill:#CCACAB;" d="M435.433,797.962v6.44c0,0.548-0.441,0.989-0.989,0.989c-0.548,0-0.989-0.441-0.989-0.989v-6.44
                        c0-0.548,0.441-0.989,0.989-0.989C434.992,796.972,435.433,797.413,435.433,797.962z" />
                        </g>
                        <g shape-rendering="auto" image-rendering="auto" color-rendering="auto" color-interpolation="sRGB">
                        <path style="fill:#E5C9C6;" d="M444.833,777.47c-5.893,0-10.658,4.768-10.658,10.66v140.668c0,5.893,4.765,10.658,10.658,10.658
                        h58.254c5.893,0,10.658-4.766,10.658-10.658V788.13c0-5.893-4.765-10.66-10.658-10.66H444.833L444.833,777.47z" />
                        <path style="fill:#F0F0F0;" d="M444.833,778.892h58.254c5.131,0,9.238,4.108,9.238,9.238v140.668c0,5.13-4.108,9.236-9.238,9.236
                        h-58.254c-5.131,0-9.238-4.107-9.238-9.236V788.13C435.595,783,439.703,778.892,444.833,778.892z" />
                        <path style="fill:#E5C9C6;" d="M473.597,922.069c-3.356,0-6.088,2.732-6.088,6.088s2.732,6.086,6.088,6.086
                        s6.086-2.73,6.086-6.086S476.953,922.069,473.597,922.069z M473.597,923.161c2.765,0,4.994,2.231,4.994,4.996
                        s-2.229,4.994-4.994,4.994s-4.996-2.229-4.996-4.994S470.832,923.161,473.597,923.161z" />
                        </g>
                        <path style="fill:#7E717A;" d="M439.494,796.177h68.204v122.816h-68.204V796.177z" />
                        <g>
                        <path style="fill:#303030;" d="M468.471,787.459h10.979c0.355,0,0.64,0.286,0.64,0.64s-0.286,0.64-0.64,0.64h-10.979
                        c-0.355,0-0.64-0.286-0.64-0.64S468.116,787.459,468.471,787.459z" />
                        <path style="fill:#303030;" d="M462.869,788.099c0,0.643-0.521,1.164-1.164,1.164s-1.164-0.521-1.164-1.164
                        s0.521-1.164,1.164-1.164S462.869,787.456,462.869,788.099z" />
                        <path style="fill:#303030;" d="M474.717,782.658c0,0.418-0.339,0.757-0.757,0.757s-0.757-0.339-0.757-0.757
                        s0.339-0.757,0.757-0.757S474.717,782.24,474.717,782.658z" />
                        </g>
                        <path style="fill:#262626;" d="M462.519,788.099c0,0.45-0.365,0.815-0.815,0.815s-0.815-0.365-0.815-0.815s0.365-0.815,0.815-0.815
                        h0C462.155,787.285,462.519,787.649,462.519,788.099L462.519,788.099z" />
                        <path style="fill:#273945;" d="M462.486,788.099c0,0.432-0.35,0.781-0.781,0.781l0,0c-0.432,0-0.781-0.35-0.781-0.781l0,0
                        c0-0.432,0.35-0.781,0.781-0.781l0,0C462.136,787.318,462.486,787.668,462.486,788.099L462.486,788.099z" />
                        <g>
                        <path style="fill:#847880;" d="M466.853,796.178l40.846,74.797v-74.797H466.853z" />
                        <path style="fill:#847880;" d="M439.494,796.178v33.813l48.605,89.004h19.6v-17.963l-57.26-104.854H439.494z" />
                        </g>
                        <path style="fill:#969799;" d="M307.828,917.312v22.145h13.219c-4.724,0-8.527-3.776-8.527-8.465v-13.68H307.828z" />
                        <path style="fill:#AEB2B4;" d="M307.828,901.988v15.324h4.691v-15.324H307.828z" />
                        <path style="fill:#3F4552;" d="M307.828,804.949v41.688l4.691,8.592v-41.689L307.828,804.949z" />
                        <g>
                        <path style="fill:#464B57;" d="M312.814,713.615c-2.942,1.673-4.986,5.419-4.986,9.801v81.533l4.691,8.59v-97.746
                        C312.519,715.038,312.629,714.311,312.814,713.615z" />
                        <path style="fill:#464B57;" d="M307.828,846.637v55.352h4.691v-46.76L307.828,846.637z" />
                        </g>
                        </g>
                        </svg>
                        All
                    </label>
                </article>
            </a>
            @foreach (var c in Categories)
            {
                var slug = ToSlug(c);
                <a class="media-card" href="@GetCategoryUrl(slug)" role="link">
                    @if (c == "Laptops")
                    {
                        <article>
                            <label>
                                <svg width="100px" height="100px" viewBox="5 2 64 72" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" preserveAspectRatio="xMidYMid meet">
                                    <g fill="#212528">
                                        <path d="M7.3 53.8h49.4c.8 0 1.4-.6 1.4-1.4v-33c0-.8-.6-1.4-1.4-1.4H7.3c-.7 0-1.3.6-1.3 1.4v33c0 .8.6 1.4 1.3 1.4"></path>
                                        <path d="M2 58.7C2 60.3 3.3 62 5 62h54c1.6 0 3-1.7 3-3.3H2z"></path>
                                    </g>
                                    <path fill="#ddd" d="M57 53.8H7l-5 4.9h60z"></path>
                                    <path fill="#bfbebe" d="M55.3 54.2H8.7l-1.7 2h50z"></path>
                                    <path fill="#212528" d="M37.1 57.1H26.9l-.8 1.1h11.8z"></path>
                                    <path fill="#3e4347" d="M9 21h46v29.8H9z"></path>
                                    <circle cx="32" cy="19.6" r=".8" fill="#ddd"></circle>
                                    <path d="M36.3 60.8h-8.6c-.3 0-1.1 0-1.1-1h10.8c0 1-.8 1-1.1 1" fill="#3e4347"></path>
                                </svg>
                                Laptops
                            </label>
                        </article>
                    }
                    @if (c == "Smartphones & Tablets")
                    {
                        <article>
                            <label>
                                <svg version="1.1" width="120px" height="120px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     viewBox="-100 -100 800 800" preserveAspectRatio="xMidYMid slice">
                                    <g>
                                                            <path style="fill:#7E8488;" d="M301.011,436.044v22.505v33.758c0,6.189,5.064,11.253,11.253,11.253H30.945
                                      c-6.189,0-11.253-5.064-11.253-11.253v-73.143h281.319V436.044z" />
                                                            <path style="fill:#7E8488;" d="M301.011,436.044h191.297v56.264c0,6.189-5.064,11.253-11.253,11.253H323.517h-11.253
                                      c-6.189,0-11.253-5.064-11.253-11.253v-33.758V436.044z" />
                                                            <path style="fill:#7E8488;" d="M312.264,154.725h101.275h67.516c6.189,0,11.253,5.064,11.253,11.253v56.264H301.011v-56.264
                                      C301.011,159.789,306.075,154.725,312.264,154.725z" />
                                                            <path style="fill:#7E8488;" d="M413.538,19.692v73.143H19.692V19.692c0-6.189,5.064-11.253,11.253-11.253h371.341
                                      C408.475,8.44,413.538,13.503,413.538,19.692z" />
                                    </g>
                                    <g>
                                                            <polygon style="fill:#00ABD5;" points="492.308,436.044 301.011,436.044 301.011,419.165 301.011,222.242 492.308,222.242 	" />
                                                            <path style="fill:#00ABD5;" d="M413.538,92.835v61.89H312.264c-6.189,0-11.253,5.064-11.253,11.253v56.264v196.923H19.692V92.835
                                      H413.538z" />
                                    </g>
                                    <g>
                                                            <path style="fill:#009DD3;" d="M19.692,92.835v326.33h56.264L301.011,194.11v-28.132c0-6.189,5.064-11.253,11.253-11.253h28.132
                                      l61.89-61.89H19.692z" />
                                                            <polygon style="fill:#009DD3;" points="492.308,222.242 301.011,222.242 301.011,419.165 301.011,436.044 317.89,436.044
                                      492.308,261.626 	" />
                                    </g>
                                    <path d="M481.055,146.286h-59.077V19.692C421.978,8.835,413.143,0,402.286,0H30.945C20.087,0,11.253,8.835,11.253,19.692v472.615
                                     c0,10.858,8.835,19.692,19.692,19.692h450.11c10.858,0,19.692-8.835,19.692-19.692v-326.33
                                     C500.747,155.12,491.913,146.286,481.055,146.286z M483.868,165.978v47.824H309.451v-47.824c0-1.525,1.288-2.813,2.813-2.813
                                     h168.791C482.58,163.165,483.868,164.453,483.868,165.978z M309.451,230.681h174.418v196.923H309.451V230.681z M312.264,146.286
                                     c-10.858,0-19.692,8.835-19.692,19.692v244.747H28.132V101.275h376.967v45.011H312.264z M30.945,16.879h371.341
                                     c1.525,0,2.813,1.288,2.813,2.813v64.703H28.132V19.692C28.132,18.168,29.42,16.879,30.945,16.879z M28.132,492.308v-64.703h264.44
                                     c0,0,0.092,66.595,0.225,67.517H30.945C29.42,495.121,28.132,493.832,28.132,492.308z M481.055,495.121H312.264
                                     c-1.525,0-2.813-1.288-2.813-2.813v-47.824h174.418v47.824C483.868,493.832,482.58,495.121,481.055,495.121z" />
                                    <rect x="357.275" y="180.044" width="78.769" height="16.879" />
                                    <rect x="379.78" y="461.363" width="33.758" height="16.879" />
                                    <rect x="137.846" y="45.011" width="157.538" height="16.879" />
                                    <rect x="188.484" y="450.11" width="56.264" height="16.879" />
                                    <g>
                                                            <polygon style="fill:#FFFFFF;" points="73.143,295.385 56.264,295.385 56.264,129.407 115.341,129.407 115.341,146.286
                                      73.143,146.286 	" />
                                                            <rect x="56.264" y="317.89" style="fill:#FFFFFF;" width="16.879" height="22.505" />
                                                            <polygon style="fill:#FFFFFF;" points="348.835,329.143 331.956,329.143 331.956,253.187 374.154,253.187 374.154,270.066
                                      348.835,270.066 	" />
                                                            <rect x="331.956" y="346.022" style="fill:#FFFFFF;" width="16.879" height="22.505" />
                                    </g>
                                    </svg>
                                Devices
                            </label>
                        </article>
                    }
                    @if (c == "Personal Computer (PC)")
                    {
                        <article>
                            <label>
                                <svg version="1.1" width="100px" height="100px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     viewBox="0 0 512.024 512.024" xml:space="preserve">
                                <path d="M359.548,485.792H152.476c-4.328,0-7.864-3.536-7.864-7.864V7.864c0-4.328,3.536-7.864,7.864-7.864h207.072
                                 c4.328,0,7.864,3.536,7.864,7.864v470.064C367.412,482.248,363.876,485.792,359.548,485.792z" />
                                <path style="fill:#333333;" d="M155.756,0v148.096c0,11.536,9.44,20.968,20.968,20.968h158.584c11.536,0,20.968-9.44,20.968-20.968
                                 V0H155.756z" />
                                <rect x="155.756" y="74.264" width="200.56" height="5.24" />
                                <rect x="155.756" y="10.048" width="200.56" height="5.24" />
                                <rect x="218.644" y="125.376" style="fill:#5B5C5F;" width="19.744" height="5.24" />
                                <rect x="191.444" y="125.376" style="fill:#DB2B42;" width="19.744" height="5.24" />
                                <rect x="155.972" y="482.32" width="200.08" height="29.704" />
                                <rect x="300.268" y="125.376" style="fill:#DB2B42;" width="19.744" height="5.24" />
                                <rect x="273.052" y="125.376" style="fill:#5B5C5F;" width="19.744" height="5.24" />
                                <rect x="245.852" y="125.376" style="fill:#DB2B42;" width="19.744" height="5.24" />
                                <circle style="fill:#5B5C5F;" cx="327.22" cy="210.568" r="21.152" />
                                <path style="fill:#999999;" d="M327.22,233.056c-12.392,0-22.488-10.096-22.488-22.488c0-12.392,10.096-22.488,22.488-22.488
                                 c12.392,0,22.488,10.096,22.488,22.488S339.612,233.056,327.22,233.056z M327.22,190.744c-10.928,0-19.824,8.896-19.824,19.824
                                 c0,10.928,8.896,19.824,19.824,19.824c10.928,0,19.824-8.896,19.824-19.824S338.148,190.744,327.22,190.744z" />
                                <circle cx="327.22" cy="210.568" r="15.024" />
                                <circle style="fill:#DB2B42;" cx="327.22" cy="210.568" r="6.392" />
                                <g style="opacity:0.5;">
                                                        <rect x="222.812" y="421.568" style="fill:#FFFFFF;" width="66.4" height="20.096" />
                                </g>
                                <path style="fill:#5B5C5F;" d="M320.668,142.352H191.356l-18.32,26.416c1.2,0.176,2.424,0.304,3.688,0.304h158.584
                                 c1.264,0,2.488-0.128,3.688-0.304L320.668,142.352z" />
                                <circle cx="269.532" cy="155.704" r="3.928" />
                                <circle cx="283.388" cy="155.704" r="3.928" />
                                <circle cx="297.212" cy="155.704" r="3.928" />
                                <circle cx="311.1" cy="155.704" r="3.928" />
                                <g style="opacity:0.25;">
                                                        <path style="fill:#FFFFFF;" d="M356.924,0H256.012v485.792h100.912c5.768,0,10.488-4.72,10.488-10.488V10.488
                                  C367.412,4.72,362.692,0,356.924,0z" />
                                </g>
                                <rect x="196.684" y="153.04" width="24.24" height="5.336" />
                                <rect x="231.764" y="153.04" width="24.24" height="5.336" />
                                </svg>
                                Computers
                            </label>
                        </article>
                    }
                    @if (c == "PC Components")
                    {
                        <article>
                            <label>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" width="80px" height="80px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                <g id="ram">
                                <g>
                                <path fill="#A0D468" d="M278.625,361.594L256,338.969l0,0c-4.172-4.156-4.172-10.922,0-15.094c4.156-4.156,10.922-4.156,15.078,0    l0,0l22.625,22.641L512,128.227L459.203,75.43c-4.172,4.164-10.922,4.164-15.094,0c-4.156-4.164-4.156-10.922,0-15.086    l-7.531-7.539c-4.172,4.164-10.922,4.164-15.094-0.008c-4.156-4.164-4.156-10.914,0-15.078L383.781,0L0,383.781L37.703,421.5    c4.172-4.172,10.922-4.172,15.094,0c4.156,4.156,4.156,10.906,0,15.078l7.531,7.547c4.172-4.172,10.922-4.172,15.094,0    c4.156,4.156,4.172,10.906,0,15.078L128.219,512L278.625,361.594z" />
                                </g>
                                <g>
                                <polygon fill="#8CC153" points="256,338.969 105.594,489.375 128.219,512 278.625,361.594 256,338.969   " />
                                <polygon fill="#8CC153" points="271.078,323.875 271.078,323.875 271.078,323.875 293.703,346.516 512,128.227 489.375,105.602       " />
                                </g>
                                <g>
                                <path fill="#FFCE54" d="M482.266,142.867c-4.156,4.164-4.156,10.922,0,15.086l15.094-15.086    C493.188,138.703,486.438,138.703,482.266,142.867z" />
                                <path fill="#FFCE54" d="M459.641,165.492c-4.156,4.164-4.156,10.922,0,15.086l15.094-15.086    C470.562,161.328,463.812,161.328,459.641,165.492z" />
                                <path fill="#FFCE54" d="M437.016,188.117c-4.172,4.172-4.172,10.922,0,15.086l15.078-15.086    C447.938,183.953,441.188,183.953,437.016,188.117z" />
                                <path fill="#FFCE54" d="M414.391,210.75c-4.172,4.164-4.172,10.922,0,15.086l15.078-15.086    C425.312,206.586,418.547,206.586,414.391,210.75z" />
                                <path fill="#FFCE54" d="M391.766,233.375c-4.172,4.164-4.172,10.922,0,15.086l15.078-15.086    C402.688,229.211,395.922,229.211,391.766,233.375z" />
                                <path fill="#FFCE54" d="M369.125,256c-4.156,4.172-4.156,10.922,0,15.086L384.219,256    C380.047,251.836,373.297,251.836,369.125,256z" />
                                <path fill="#FFCE54" d="M346.5,278.625c-4.156,4.172-4.156,10.938,0,15.094l15.094-15.094    C357.422,274.469,350.672,274.469,346.5,278.625z" />
                                <path fill="#FFCE54" d="M323.875,301.25c-4.156,4.172-4.156,10.938,0,15.094l15.094-15.094    C334.797,297.094,328.047,297.094,323.875,301.25z" />
                                <path fill="#FFCE54" d="M301.25,323.875c-4.156,4.188-4.172,10.938,0,15.094l15.094-15.094    C312.172,319.719,305.422,319.719,301.25,323.875z" />
                                <path fill="#FFCE54" d="M256,369.141c-4.172,4.172-4.172,10.922,0,15.078l15.078-15.078    C266.922,364.969,260.156,364.969,256,369.141z" />
                                <path fill="#FFCE54" d="M233.375,391.766c-4.172,4.172-4.172,10.922,0,15.078l15.078-15.078    C244.281,387.594,237.531,387.594,233.375,391.766z" />
                                <path fill="#FFCE54" d="M210.734,414.406c-4.156,4.156-4.156,10.906,0,15.078l15.094-15.078    C221.656,410.219,214.906,410.219,210.734,414.406z" />
                                <path fill="#FFCE54" d="M188.109,437.031c-4.156,4.156-4.156,10.906,0,15.078l15.094-15.078    C199.031,432.859,192.281,432.859,188.109,437.031z" />
                                <path fill="#FFCE54" d="M165.484,459.656c-4.156,4.156-4.156,10.906,0,15.078l15.094-15.078    C176.406,455.484,169.656,455.484,165.484,459.656z" />
                                <path fill="#FFCE54" d="M142.859,482.281c-4.172,4.156-4.172,10.906,0,15.078l15.078-15.078    C153.781,478.109,147.031,478.109,142.859,482.281z" />
                                </g>
	
                                <rect x="84.259" y="362.447" transform="matrix(0.7071 0.7071 -0.7071 0.7071 302.302 37.7409)" fill="#656D78" width="42.669" height="42.669" />
                                <polygon fill="#656D78" points="165.938,353.609 135.766,323.438 165.938,293.281 196.094,323.438  " />
                                <polygon fill="#656D78" points="256.438,263.102 226.266,232.93 256.438,202.766 286.609,232.93  " />
	
                                <rect x="295.447" y="151.259" transform="matrix(0.7071 0.7071 -0.7071 0.7071 214.8253 -173.4466)" fill="#656D78" width="42.669" height="42.669" />
                                <g>
                                <path fill="#434A54" d="M60.328,383.781l45.266,45.25l45.25-45.25l-45.25-45.25L60.328,383.781z M105.594,398.875L90.5,383.781    l15.094-15.094l15.078,15.094L105.594,398.875z" />
                                <path fill="#434A54" d="M120.672,323.438l45.266,45.25l45.25-45.25l-45.25-45.25L120.672,323.438z M165.938,338.531    l-15.094-15.094l15.094-15.078l15.078,15.078L165.938,338.531z" />
                                <path fill="#434A54" d="M211.188,232.93l45.25,45.258l45.25-45.258l-45.25-45.25L211.188,232.93z M256.438,248.016l-15.078-15.086    l15.078-15.086l15.094,15.086L256.438,248.016z" />
                                <path fill="#434A54" d="M316.781,127.336l-45.25,45.258l45.25,45.25l45.25-45.25L316.781,127.336z M301.688,172.594l15.094-15.086    l15.078,15.086l-15.078,15.086L301.688,172.594z" />
                                </g>
                                <polygon fill="#656D78" points="377.125,142.422 346.953,112.25 377.125,82.086 407.281,112.25  " />
                                <path fill="#434A54" d="M377.125,67l-45.266,45.25l45.266,45.258l45.25-45.258L377.125,67z M377.125,127.336l-15.094-15.086   l15.094-15.078l15.078,15.078L377.125,127.336z" />
                                </g>
                                </svg>
                                PC Components
                            </label>
                        </article>
                    }
                    @if (c == "Peripherals")
                    {
                        <article>
                            <label>
                                <svg height="80px" width="80px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     viewBox="00 0 511.997 511.997" xml:space="preserve">
                                <path style="fill:#48CFAD;" d="M158.218,153.797c26.187-22.719,60.375-36.469,97.781-36.469c37.391,0,71.578,13.75,97.779,36.469
                                 l45.328-45.328c-37.843-34.266-88.045-55.141-143.107-55.141c-55.078,0-105.281,20.875-143.125,55.141L158.218,153.797z" />
                                <path style="fill:#CCD1D9;" d="M255.999,53.327c-117.828,0-213.343,95.516-213.343,213.343v96.656H64v-96.656
                                 c0-25.938,5.062-51.078,15.078-74.734c9.671-22.859,23.515-43.39,41.156-61.031s38.172-31.484,61.031-41.156
                                 c23.656-10.016,48.796-15.078,74.734-15.078c25.922,0,51.062,5.062,74.719,15.078c22.873,9.672,43.404,23.516,61.029,41.156
                                 c17.656,17.641,31.5,38.171,41.156,61.031c10.016,23.656,15.094,48.796,15.094,74.734v96.656h21.328v-96.656
                                 C469.325,148.844,373.81,53.327,255.999,53.327z" />
                                <path style="fill:#48CFAD;" d="M405.325,362.671c0,41.233,23.875,74.655,53.328,74.655c29.469,0,53.344-33.422,53.344-74.655
                                 c0-41.25-23.875-74.672-53.344-74.672C429.2,287.999,405.325,321.421,405.325,362.671z" />
                                <path style="fill:#656D78;" d="M383.997,437.326c0,11.781,9.547,21.344,21.328,21.344h42.672c11.781,0,21.328-9.562,21.328-21.344
                                 V287.999c0-11.781-9.547-21.328-21.328-21.328h-42.672c-11.781,0-21.328,9.547-21.328,21.328V437.326z" />
                                <path style="fill:#48CFAD;" d="M106.656,362.671c0,41.233-23.875,74.655-53.328,74.655S0,403.904,0,362.671
                                 c0-41.25,23.875-74.672,53.328-74.672S106.656,321.421,106.656,362.671z" />
                                <path style="fill:#656D78;" d="M127.999,437.326c0,11.781-9.562,21.344-21.344,21.344H64c-11.781,0-21.344-9.562-21.344-21.344
                                 V287.999c0-11.781,9.562-21.328,21.344-21.328h42.656c11.781,0,21.344,9.547,21.344,21.328L127.999,437.326L127.999,437.326z" />
                                <g>
                                                        <path style="fill:#434A54;" d="M127.999,309.327c-5.891,0-10.672,4.781-10.672,10.672s4.781,10.672,10.672,10.672V309.327z" />
                                                        <path style="fill:#434A54;" d="M127.999,351.999c-5.891,0-10.672,4.781-10.672,10.672s4.781,10.656,10.672,10.656V351.999z" />
                                                        <path style="fill:#434A54;" d="M127.999,394.671c-5.891,0-10.672,4.765-10.672,10.655s4.781,10.672,10.672,10.672V394.671z" />
                                                        <path style="fill:#434A54;" d="M394.653,319.999c0-5.891-4.766-10.672-10.656-10.672v21.344
                                  C389.888,330.671,394.653,325.889,394.653,319.999z" />
                                                        <path style="fill:#434A54;" d="M394.653,362.671c0-5.891-4.766-10.672-10.656-10.672v21.328
                                  C389.888,373.327,394.653,368.561,394.653,362.671z" />
                                                        <path style="fill:#434A54;" d="M394.653,405.326c0-5.891-4.766-10.655-10.656-10.655v21.327
                                  C389.888,415.997,394.653,411.216,394.653,405.326z" />
                                </g>
                                </svg>
                                Peripherals
                            </label>
                        </article>
                    }
                    @if (c == "Wearables")
                    {
                        <article>
                            <label>
                                <svg height="100px" width="100px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     viewBox="0 0 511.999 511.999" xml:space="preserve">
                                <g>
                                                        <path style="fill:#2A2A33;" d="M345.244,109.156V92.174c0-10.85-6.19-20.749-15.945-25.5l0,0
                                  c-6.256-3.046-11.173-8.286-13.818-14.722l-7.097-17.275c-6.633-16.145-22.36-26.687-39.816-26.687H220.2
                                  c-17.455,0-33.183,10.541-39.815,26.688l-7.097,17.275c-2.644,6.436-7.562,11.676-13.817,14.722l0,0
                                  c-9.755,4.75-15.945,14.65-15.945,25.5v16.982h201.718V109.156z" />
                                                        <path style="fill:#2A2A33;" d="M345.244,402.844v16.982c0,10.85-6.19,20.749-15.945,25.5l0,0
                                  c-6.256,3.046-11.173,8.286-13.818,14.722l-7.097,17.275c-6.633,16.145-22.36,26.688-39.815,26.688h-48.368
                                  c-17.455,0-33.183-10.541-39.815-26.688l-7.097-17.275c-2.644-6.436-7.562-11.676-13.818-14.722l0,0
                                  c-9.755-4.75-15.945-14.65-15.945-25.5v-16.982H345.244z" />
                                </g>
                                <g>
                                                        <path style="fill:#707287;" d="M384.056,154.839c-11.305,0-20.47,9.165-20.47,20.47v28.535c0,11.305,9.165,20.47,20.47,20.47
                                  c11.305,0,20.47-9.165,20.47-20.47v-28.535C404.526,164.004,395.361,154.839,384.056,154.839z" />
                                                        <path style="fill:#707287;" d="M384.056,246.443c-11.305,0-20.47,9.165-20.47,20.47v28.535c0,11.305,9.165,20.47,20.47,20.47
                                  c11.305,0,20.47-9.165,20.47-20.47v-28.535C404.526,255.607,395.361,246.443,384.056,246.443z" />
                                </g>
                                <path style="opacity:0.1;enable-background:new    ;" d="M143.526,419.826c0,10.85,6.19,20.749,15.945,25.499l0,0
                                 c1.104,0.538,2.149,1.167,3.165,1.836h163.498c1.015-0.669,2.061-1.298,3.164-1.836l0,0c9.755-4.75,15.945-14.65,15.945-25.499
                                 v-16.982H143.526V419.826z" />
                                <path style="opacity:0.1;enable-background:new    ;" d="M329.299,66.674L329.299,66.674c-1.104-0.537-2.149-1.166-3.164-1.835
                                 H162.635c-1.015,0.669-2.061,1.298-3.164,1.835l0,0c-9.755,4.75-15.945,14.65-15.945,25.5v16.982h201.719V92.174
                                 C345.244,81.324,339.054,71.425,329.299,66.674z" />
                                <path style="fill:#3F3F4D;" d="M327.928,91.475H160.841c-29.474,0-53.367,23.893-53.367,53.367v222.315
                                 c0,29.474,23.893,53.367,53.367,53.367h167.088c29.474,0,53.367-23.893,53.367-53.367V144.843
                                 C381.296,115.369,357.402,91.475,327.928,91.475z" />
                                <path style="fill:#707287;" d="M160.841,388.561c-11.803,0-21.404-9.603-21.404-21.404V144.843c0-11.803,9.602-21.404,21.404-21.404
                                 H327.93c11.802,0,21.404,9.602,21.404,21.404v222.314c0,11.802-9.603,21.404-21.404,21.404L160.841,388.561L160.841,388.561z" />
                                <path style="fill:#74D6FF;" d="M244.385,332.945c-119.907-50.984-78.517-168.181,0-106.603
                                 C322.901,164.763,364.293,281.96,244.385,332.945z" />
                                <path d="M327.93,115.447H217.823c-4.414,0-7.991,3.578-7.991,7.991c0,4.413,3.577,7.991,7.991,7.991H327.93
                                 c7.396,0,13.414,6.018,13.414,13.414v222.314c0,7.396-6.016,13.414-13.414,13.414H160.841c-7.396,0-13.414-6.018-13.414-13.414
                                 V144.843c0-7.396,6.016-13.414,13.414-13.414h25.019c4.414,0,7.991-3.578,7.991-7.991c0-4.413-3.577-7.991-7.991-7.991h-25.019
                                 c-16.208,0-29.395,13.187-29.395,29.395v222.314c0,16.208,13.187,29.395,29.395,29.395H327.93c16.208,0,29.395-13.187,29.395-29.395
                                 V144.843C357.325,128.634,344.138,115.447,327.93,115.447z" />
                                <path d="M183.839,205.265c-36.021,18.288-22.586,67.38-2.681,92.082c14.15,17.56,34.372,32.011,60.1,42.951
                                 c1.963,0.834,4.265,0.846,6.253,0c15.76-6.702,29.644-14.862,41.268-24.257c7.934-6.413-1.965-18.957-10.045-12.429
                                 c-9.707,7.845-21.251,14.772-34.351,20.617c-48.279-21.527-66.405-53.393-67.184-76.362c-0.444-13.118,4.741-23.716,13.873-28.352
                                 c12.215-6.202,29.849-1.421,48.381,13.113c2.895,2.27,6.966,2.27,9.863,0c21.464-16.834,42.024-20.431,53.652-9.386
                                 c11.182,10.618,13.315,34.414-4.243,59.352c-5.95,8.453,7.134,17.626,13.067,9.201c10.069-14.303,15.522-29.675,15.77-44.456
                                 c0.44-26.283-18.554-48.82-46.268-46.221c-11.816,1.108-24.214,6.235-36.917,15.256C222.395,200.843,200.572,196.77,183.839,205.265
                                 z" />
                                <path d="M274.193,176.464v-10.971c0-4.413-3.577-7.991-7.991-7.991s-7.991,3.578-7.991,7.991v10.971
                                 c0,4.413,3.577,7.991,7.991,7.991S274.193,180.877,274.193,176.464z" />
                                <path d="M297.799,176.464v-21.625c0-4.413-3.577-7.991-7.991-7.991s-7.991,3.578-7.991,7.991v21.625
                                 c0,4.413,3.577,7.991,7.991,7.991S297.799,180.877,297.799,176.464z" />
                                <path d="M321.404,176.464v-21.625c0-4.413-3.577-7.991-7.991-7.991s-7.991,3.578-7.991,7.991v21.625
                                 c0,4.413,3.577,7.991,7.991,7.991S321.404,180.877,321.404,176.464z" />
                                <path d="M389.287,147.339v-2.496c0-24.878-14.891-46.329-36.221-55.95c-1.157-12.528-8.844-23.838-20.268-29.401
                                 c-10.076-4.907-13.091-18.281-17.022-27.849C307.88,12.42,289.349,0,268.569,0h-48.368c-20.78,0-39.31,12.42-47.207,31.641
                                 c-3.811,9.277-6.754,23.448-17.023,27.849c-11.423,5.563-19.109,16.873-20.267,29.401c-21.33,9.621-36.221,31.072-36.221,55.95
                                 v222.315c0,24.879,14.891,46.329,36.221,55.951c1.157,12.527,8.844,23.838,20.267,29.4c10.035,4.887,13.119,18.346,17.023,27.85
                                 c7.896,19.221,26.427,31.641,47.207,31.641h48.368c20.78,0,39.31-12.42,47.207-31.641c4.01-9.762,6.655-22.801,17.02-27.849
                                 c11.425-5.563,19.112-16.873,20.269-29.402c21.33-9.621,36.221-31.072,36.221-55.951v-43.74
                                 c13.202-2.464,23.229-14.064,23.229-27.97v-28.535c0-13.906-10.028-25.506-23.229-27.971v-7.128
                                 c13.202-2.464,23.229-14.065,23.229-27.97v-28.535C412.517,161.404,402.489,149.803,389.287,147.339z M162.971,73.859
                                 c14.544-7.082,19.105-22.265,24.806-36.145c5.424-13.202,18.151-21.733,32.424-21.733h48.368c14.272,0,27,8.531,32.424,21.734
                                 c5.783,14.076,10.087,28.976,24.807,36.145c4.375,2.131,7.778,5.765,9.7,10.094c-0.157-0.019-0.314-0.026-0.471-0.044
                                 c-2.352-0.274-4.733-0.424-7.1-0.424H160.841c-1.51,0-3.02,0.184-4.525,0.184c-1.015,0.075-2.036,0.157-3.047,0.283
                                 C155.192,79.625,158.594,75.99,162.971,73.859z M373.306,367.156c0,20.052-13.08,37.097-31.152,43.08
                                 c-4.573,1.511-9.408,2.296-14.225,2.296c0,0-28.375,0-28.486,0c-10.31,0-10.33,15.981,0,15.981h28.486
                                 c2.527,0,5.063-0.154,7.571-0.468c-1.923,4.328-5.325,7.963-9.701,10.094c-14.346,6.986-19.168,22.418-24.807,36.145
                                 c-5.424,13.203-18.151,21.733-32.424,21.733H220.2c-14.272,0-27-8.531-32.424-21.733c-5.786-14.085-10.061-28.966-24.807-36.145
                                 c-4.376-2.131-7.779-5.765-9.7-10.094c0.157,0.019,0.314,0.026,0.471,0.044c2.356,0.274,4.728,0.424,7.1,0.424
                                 c0,0,106.402,0,106.714,0c10.293,0,10.342-15.981,0.001-15.981H160.841c-4.832,0-9.639-0.775-14.225-2.296
                                 c-18.073-5.982-31.152-23.028-31.152-43.08V144.843c0-20.048,13.074-37.09,31.14-43.076c4.574-1.513,9.417-2.3,14.236-2.3H327.93
                                 c4.818,0,9.662,0.788,14.236,2.3c18.066,5.987,31.14,23.028,31.14,43.076V367.156z M396.535,266.912v28.535
                                 c0,5.014-2.973,9.347-7.248,11.329v-51.194C393.563,257.565,396.535,261.898,396.535,266.912z M396.535,203.845
                                 c0,5.014-2.973,9.347-7.248,11.329V163.98c4.276,1.982,7.248,6.315,7.248,11.33V203.845z" />
                                </svg>
                                Wearables
                            </label>
                        </article>
                    }
                    @if (c == "Home Appliances")
                    {
                        <article>
                            <label>
                                <svg width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M960 959.968a64 64 0 0 1-64 64H128a64 64 0 0 1-64-64v-896a64 64 0 0 1 64-64h768a64 64 0 0 1 64 64v896z" fill="#EAEAEA" /><path d="M848 111.968m-48 0a48 48 0 1 0 96 0 48 48 0 1 0-96 0Z" fill="#3AAD73" /><path d="M512 639.968m-256 0a256 256 0 1 0 512 0 256 256 0 1 0-512 0Z" fill="#469FCC" /><path d="M512 415.968c135.968 0 246.912 106.112 255.2 240 0.352-5.312 0.8-10.592 0.8-16a256 256 0 0 0-512 0c0 5.408 0.48 10.688 0.8 16 8.288-133.888 119.232-240 255.2-240z" fill="" /><path d="M512 319.968c-176.704 0-320 143.296-320 320s143.296 320 320 320 320-143.296 320-320-143.296-320-320-320z m0 576a256 256 0 1 1 0-512 256 256 0 0 1 0 512z" fill="#434854" /><path d="M667.776 552.992l-67.872-67.872a16 16 0 0 0-22.624 22.624l67.872 67.872a16 16 0 0 0 22.624-22.624zM532.832 506.944a16 16 0 0 0-22.624 22.624l113.12 113.12a16 16 0 0 0 22.624-22.624l-113.12-113.12z" fill="#FFFFFF" /><path d="M384 111.968a48 48 0 0 1-48 48h-160a48 48 0 0 1 0-96h160a48 48 0 0 1 48 48z" fill="#434854" /><path d="M336 159.936h-160a47.872 47.872 0 0 1-45.056-32 47.456 47.456 0 0 0-2.944 16 48 48 0 0 0 48 48h160a48 48 0 0 0 48-48c0-5.632-1.152-10.976-2.944-16-6.624 18.592-24.192 32-45.056 32zM64 223.968h896v32H64zM893.056 127.936c-6.624 18.592-24.192 32-45.056 32s-38.432-13.408-45.056-32a47.456 47.456 0 0 0-2.944 16 48 48 0 0 0 96 0c0-5.632-1.152-10.976-2.944-16z" fill="" /></svg>
                                Home Stuff
                            </label>
                        </article>
                    }
                    else
                    {

                    }
                </a>
            }
        </section>
    </div>

    <div class="panel1_red">
        <h1><b>Reviews</b></h1>
        <hr />
            <h3><b>Latest Tech Reviews</b></h3>
            <section class="media-scroller">
                @if (topReviews == null)
                {
                    <p><em>Loading reviews...</em></p>
                }
                else if (!topReviews.Any())
                {
                    <article class="review-card">
                        <p>No reviews available yet. Be the first to write one!</p>
                    </article>
                }
                else
                {
                    @foreach (var review in topReviews)
                    {
                        <article class="review-card">
                            <a href="@($"/reviews/details?id={review.Id}")" class="text-decoration-none text-reset">
                                <div class="review-content">
                                    <h4><b>@review.Title</b></h4>
                                    <p class="review-category">@review.Category</p>
                                    <div class="review-rating">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            <span class="@(i <= review.Rating ? "star-filled" : "star-empty")">★</span>
                                        }
                                        <span class="rating-text">(@review.Rating/5)</span>
                                    </div>
                                    <p class="review-excerpt">@GetExcerpt(review.Content, 100)</p>
                                    <small class="text-muted">
                                        By @GetAuthorDisplay(review.UserId) on @review.DateCreated.ToShortDateString()
                                    </small>
                                </div>
                            </a>
                        </article>
                    }
                }
            </section>
    </div>

    <div class="panel1_white">
        <h1><b>Best Value Tech Reviews</b></h1>
        <hr />
        <h3><b>For Office/School Work</b></h3>
        <section class="media-scroller">
            @if (officeSchoolReviews == null)
            {
                <p><em>Loading reviews...</em></p>
            }
            else if (!officeSchoolReviews.Any())
            {
                <article class="review-card">
                    <p>No Office/School reviews available yet. Be the first to write one!</p>
                </article>
            }
            else
            {
                @foreach (var review in officeSchoolReviews)
                {
                    <article class="review-card">
                        <a href="@($"/reviews/details?id={review.Id}")" class="text-decoration-none text-reset">
                            <div class="review-content">
                                <h4><b>@review.Title</b></h4>
                                <p class="review-category">@review.Category</p>
                                <div class="review-rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <span class="@(i <= review.Rating ? "star-filled" : "star-empty")">★</span>
                                    }
                                    <span class="rating-text">(@review.Rating/5)</span>
                                </div>
                                <p class="review-excerpt">@GetExcerpt(review.Content, 100)</p>
                                <small class="text-muted">
                                    By @GetAuthorDisplay(review.UserId) on @review.DateCreated.ToShortDateString()
                                </small>
                            </div>
                        </a>
                    </article>
                }
            }
        </section>
    </div>

    <div class="panel1_2_red">
        <hr />
        <h3><b>For Gamers</b></h3>
        <section class="media-scroller">
            @if (gamingReviews == null)
            {
                <p><em>Loading reviews...</em></p>
            }
            else if (!gamingReviews.Any())
            {
                <article class="review-card">
                    <p>No Gaming reviews available yet. Be the first to write one!</p>
                </article>
            }
            else
            {
                @foreach (var review in gamingReviews)
                {
                    <article class="review-card">
                        <a href="@($"/reviews/details?id={review.Id}")" class="text-decoration-none text-reset">
                            <div class="review-content">
                                <h4><b>@review.Title</b></h4>
                                <p class="review-category">@review.Category</p>
                                <div class="review-rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <span class="@(i <= review.Rating ? "star-filled" : "star-empty")">★</span>
                                    }
                                    <span class="rating-text">(@review.Rating/5)</span>
                                </div>
                                <p class="review-excerpt">@GetExcerpt(review.Content, 100)</p>
                                <small class="text-muted">
                                    By @GetAuthorDisplay(review.UserId) on @review.DateCreated.ToShortDateString()
                                </small>
                            </div>
                        </a>
                    </article>
                }
            }
        </section>
        <div style="text-align: center; margin-top: 2rem;">
        <button type="button" class="btn btn-secondary" @onclick="NavigateToReviews">View More Reviews Here</button>
        </div>
    </div>

    <div>
        <div class="panel2_1">
            <div class="panel2_1_txt">
                <h1><b>Subscribe to our Newsletter!</b></h1>

                <div class="spacing">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="email" placeholder="you@example.com" />
                </div>

                <div class="spacing">
                    <button class="btn btn-primary">Sign up</button>
                </div>
            </div>
        </div>

        <div class="panel2_2">
            <div>
                <img src="./Images/newsletter_img.jpg" class="panel2_img" />
            </div>
        </div>
    </div>

    <div class="panel3">
        <div class="panel3_txt">
            <div>
                <a href="/AboutUs" class="spacing2" onclick="window.scrollTo(0,0)">About us</a>
                <a href="/ContactUs" class="spacing2" onclick="window.scrollTo(0,0)">Contact us</a>
                <a href="/FAQ" class="spacing2" onclick="window.scrollTo(0,0)">FAQ</a>
                <a href="/Copyright" class="spacing2" onclick="window.scrollTo(0,0)">Terms and Conditions</a>
            </div>

            <div class="spacing2">
                <h1><b>Find out more about us at...</b></h1>
                <a href="https://x.com/?lang=en-sg" target="_blank">
                    <label style="gap : 30px;">
                        <svg width="100px" height="100px" viewBox="0 0 37 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.7887 28C8.55374 28 5.53817 27.0591 3 25.4356C5.15499 25.5751 8.95807 25.2411 11.3236 22.9848C7.76508 22.8215 6.16026 20.0923 5.95094 18.926C6.25329 19.0426 7.6953 19.1826 8.50934 18.856C4.4159 17.8296 3.78793 14.2373 3.92748 13.141C4.695 13.6775 5.99745 13.8641 6.50913 13.8174C2.69479 11.0882 4.06703 6.98276 4.74151 6.09635C7.47882 9.88867 11.5812 12.0186 16.6564 12.137C16.5607 11.7174 16.5102 11.2804 16.5102 10.8316C16.5102 7.61092 19.1134 5 22.3247 5C24.0025 5 25.5144 5.71275 26.5757 6.85284C27.6969 6.59011 29.3843 5.97507 30.2092 5.4432C29.7934 6.93611 28.4989 8.18149 27.7159 8.64308C27.7224 8.65878 27.7095 8.62731 27.7159 8.64308C28.4037 8.53904 30.2648 8.18137 31 7.68256C30.6364 8.52125 29.264 9.91573 28.1377 10.6964C28.3473 19.9381 21.2765 28 11.7887 28Z" fill="#47ACDF" />
                        </svg>
                    </label>
                </a>
                <a href="https://www.youtube.com/" target="_blank">
                    <label>
                        <svg width="100px" height="100px" viewBox="0 -7 55 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                            <title>Youtube-color</title>
                            <desc>Created with Sketch.</desc>
                            <defs>

                            </defs>
                            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Color-" transform="translate(-200.000000, -368.000000)" fill="#CE1312">
                                    <path d="M219.044,391.269916 L219.0425,377.687742 L232.0115,384.502244 L219.044,391.269916 Z M247.52,375.334163 C247.52,375.334163 247.0505,372.003199 245.612,370.536366 C243.7865,368.610299 241.7405,368.601235 240.803,368.489448 C234.086,368 224.0105,368 224.0105,368 L223.9895,368 C223.9895,368 213.914,368 207.197,368.489448 C206.258,368.601235 204.2135,368.610299 202.3865,370.536366 C200.948,372.003199 200.48,375.334163 200.48,375.334163 C200.48,375.334163 200,379.246723 200,383.157773 L200,386.82561 C200,390.73817 200.48,394.64922 200.48,394.64922 C200.48,394.64922 200.948,397.980184 202.3865,399.447016 C204.2135,401.373084 206.612,401.312658 207.68,401.513574 C211.52,401.885191 224,402 224,402 C224,402 234.086,401.984894 240.803,401.495446 C241.7405,401.382148 243.7865,401.373084 245.612,399.447016 C247.0505,397.980184 247.52,394.64922 247.52,394.64922 C247.52,394.64922 248,390.73817 248,386.82561 L248,383.157773 C248,379.246723 247.52,375.334163 247.52,375.334163 L247.52,375.334163 Z" id="Youtube">

                                    </path>
                                </g>
                            </g>
                        </svg>
                    </label>
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <label>
                        <svg width="100px" height="100px" viewBox="0 0 67 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                            <title>Facebook-color</title>
                            <desc>Created with Sketch.</desc>
                            <defs>

                            </defs>
                            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Color-" transform="translate(-200.000000, -160.000000)" fill="#4460A0">
                                    <path d="M225.638355,208 L202.649232,208 C201.185673,208 200,206.813592 200,205.350603 L200,162.649211 C200,161.18585 201.185859,160 202.649232,160 L245.350955,160 C246.813955,160 248,161.18585 248,162.649211 L248,205.350603 C248,206.813778 246.813769,208 245.350955,208 L233.119305,208 L233.119305,189.411755 L239.358521,189.411755 L240.292755,182.167586 L233.119305,182.167586 L233.119305,177.542641 C233.119305,175.445287 233.701712,174.01601 236.70929,174.01601 L240.545311,174.014333 L240.545311,167.535091 C239.881886,167.446808 237.604784,167.24957 234.955552,167.24957 C229.424834,167.24957 225.638355,170.625526 225.638355,176.825209 L225.638355,182.167586 L219.383122,182.167586 L219.383122,189.411755 L225.638355,189.411755 L225.638355,208 L225.638355,208 Z" id="Facebook">

                                    </path>
                                </g>
                            </g>
                        </svg>
                    </label>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <label>
                        <svg width="100px" height="100px" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint0_radial_87_7153)" />
                            <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint1_radial_87_7153)" />
                            <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint2_radial_87_7153)" />
                            <path d="M23 10.5C23 11.3284 22.3284 12 21.5 12C20.6716 12 20 11.3284 20 10.5C20 9.67157 20.6716 9 21.5 9C22.3284 9 23 9.67157 23 10.5Z" fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21ZM16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z" fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 15.6C6 12.2397 6 10.5595 6.65396 9.27606C7.2292 8.14708 8.14708 7.2292 9.27606 6.65396C10.5595 6 12.2397 6 15.6 6H16.4C19.7603 6 21.4405 6 22.7239 6.65396C23.8529 7.2292 24.7708 8.14708 25.346 9.27606C26 10.5595 26 12.2397 26 15.6V16.4C26 19.7603 26 21.4405 25.346 22.7239C24.7708 23.8529 23.8529 24.7708 22.7239 25.346C21.4405 26 19.7603 26 16.4 26H15.6C12.2397 26 10.5595 26 9.27606 25.346C8.14708 24.7708 7.2292 23.8529 6.65396 22.7239C6 21.4405 6 19.7603 6 16.4V15.6ZM15.6 8H16.4C18.1132 8 19.2777 8.00156 20.1779 8.0751C21.0548 8.14674 21.5032 8.27659 21.816 8.43597C22.5686 8.81947 23.1805 9.43139 23.564 10.184C23.7234 10.4968 23.8533 10.9452 23.9249 11.8221C23.9984 12.7223 24 13.8868 24 15.6V16.4C24 18.1132 23.9984 19.2777 23.9249 20.1779C23.8533 21.0548 23.7234 21.5032 23.564 21.816C23.1805 22.5686 22.5686 23.1805 21.816 23.564C21.5032 23.7234 21.0548 23.8533 20.1779 23.9249C19.2777 23.9984 18.1132 24 16.4 24H15.6C13.8868 24 12.7223 23.9984 11.8221 23.9249C10.9452 23.8533 10.4968 23.7234 10.184 23.564C9.43139 23.1805 8.81947 22.5686 8.43597 21.816C8.27659 21.5032 8.14674 21.0548 8.0751 20.1779C8.00156 19.2777 8 18.1132 8 16.4V15.6C8 13.8868 8.00156 12.7223 8.0751 11.8221C8.14674 10.9452 8.27659 10.4968 8.43597 10.184C8.81947 9.43139 9.43139 8.81947 10.184 8.43597C10.4968 8.27659 10.9452 8.14674 11.8221 8.0751C12.7223 8.00156 13.8868 8 15.6 8Z" fill="white" />
                            <defs>
                                <radialGradient id="paint0_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12 23) rotate(-55.3758) scale(25.5196)">
                                    <stop stop-color="#B13589" />
                                    <stop offset="0.79309" stop-color="#C62F94" />
                                    <stop offset="1" stop-color="#8A3AC8" />
                                </radialGradient>
                                <radialGradient id="paint1_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11 31) rotate(-65.1363) scale(22.5942)">
                                    <stop stop-color="#E0E8B7" />
                                    <stop offset="0.444662" stop-color="#FB8A2E" />
                                    <stop offset="0.71474" stop-color="#E2425C" />
                                    <stop offset="1" stop-color="#E2425C" stop-opacity="0" />
                                </radialGradient>
                                <radialGradient id="paint2_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.500002 3) rotate(-8.1301) scale(38.8909 8.31836)">
                                    <stop offset="0.156701" stop-color="#406ADC" />
                                    <stop offset="0.467799" stop-color="#6A45BE" />
                                    <stop offset="1" stop-color="#6A45BE" stop-opacity="0" />
                                </radialGradient>
                            </defs>
                        </svg>
                    </label>
                </a>
            </div>
        </div>
    </div>

    <div class="panel4">
        <div class="panel4_txt">
            <p>TechReviewz 2025. All rights reserved.</p>
        </div>
    </div>
</div>

@code {
    // Categories shown on the home page (display names)
    private readonly string[] Categories = new []
    {
        "Laptops",
        "Smartphones & Tablets",
        "Personal Computer (PC)",
        "PC Components",
        "Peripherals",
        "Wearables",
        "Home Appliances"
    };

    private IList<Review>? topReviews;
    private IList<Review>? officeSchoolReviews;
    private IList<Review>? gamingReviews;
    private IList<TechReviewzWebsiteUser> domainUsers = Array.Empty<TechReviewzWebsiteUser>();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        var relevantCategories = new[] 
        { 
            "Laptops", 
            "Smartphones & Tablets", 
            "Personal Computer (PC)", 
            "PC Components", 
            "Peripherals",
            "Wearables",
            "Home Appliances"
        };

        // Load top 5 reviews ordered by date created (most recent first)
        topReviews = await context.Review
            .AsNoTracking()
            .OrderByDescending(r => r.DateCreated)
            .Take(5)
            .ToListAsync();

        // Load Office/School reviews
        officeSchoolReviews = await context.Review
            .AsNoTracking()
            .Where(r => relevantCategories.Contains(r.Category) && r.Tag == "Office/School")
            .OrderByDescending(r => r.Rating)
            .Take(5)
            .ToListAsync();

        // Load Gaming reviews
        gamingReviews = await context.Review
            .AsNoTracking()
            .Where(r => relevantCategories.Contains(r.Category) && r.Tag == "Gaming")
            .OrderByDescending(r => r.Rating)
            .Take(5)
            .ToListAsync();

        // Load users for display names
        domainUsers = await context.Users.AsNoTracking().ToListAsync();
    }

    private string GetAuthorDisplay(string? userId)
    {
        if (string.IsNullOrEmpty(userId)) return "Unknown";
        var u = domainUsers.FirstOrDefault(x => x.Id == userId);
        if (u is null) return "Unknown";
        return string.IsNullOrWhiteSpace(u.FirstName) && string.IsNullOrWhiteSpace(u.LastName)
        ? u.UserName ?? "Unknown"
        : $"{u.FirstName} {u.LastName}".Trim();
    }

    private static string GetExcerpt(string? content, int maxLength)
    {
        if (string.IsNullOrEmpty(content)) return "No content available.";
        if (content.Length <= maxLength) return content;
        return content.Substring(0, maxLength) + "...";
    }

    // Build a slug (safe route segment) from display name
    private static string ToSlug(string text)
        => Uri.EscapeDataString(
            new string(text
                .ToLowerInvariant()
                .Replace("&", "and")
                .Where(c => char.IsLetterOrDigit(c) || char.IsWhiteSpace(c) || c == '-')
                .Select(c => char.IsWhiteSpace(c) ? '-' : c)
                .ToArray())
            .Trim('-'));

    private static string GetCategoryUrl(string slug)
        => $"/products/{slug}";

    private void NavigateToReviews()
    {
        NavigationManager.NavigateTo("/reviews");
    }

}